@model CodeLouSpotify.Models.Tracks
@{
    ViewData["Title"] = "SearchResult";
}

<h1>SearchResult</h1>
<p>Total found: @Model.total</p>
<div>
    <dl>
        @{
            for (var i = 0; i < Model.items.Length; i++)
            {
                <dt> @Model.items[i].name</dt>

                for (var j = 0; j < Model.items[i].album.images.Length; j++)
                {

                    <dd>
                        <img src="@Model.items[i].album.images[j].url" height="@Model.items[i].album.images[j].height" width="@Model.items[i].album.images[j].width" />
                        <a href="@Model.items[i].preview_url">Preview</a>
                        @Html.ActionLink("Analyize", "AnalyzeTrack",new Item2 { id = Model.items[i].id  })


                    </dd>


                }




            }
        }
    </dl>

</div>


